---
import Layout from '../../layouts/Layout.astro';

import json from '../../data/institutional.json';
import Mision from '../../components/institutional/Mision.astro';
import Vision from '../../components/institutional/Vision.astro';
import Values from '../../components/institutional/Values.astro';
const {title, subtitle, image} = json.header;
---

<Layout title="Connectto" desciption='Internet de fibra óptica'>
    <main class="mt-36 lg:mt-32">
        <header class="relative h-[30rem] flex flex-col justify-center items-start gap-4">
            <div class="text-center lg:text-start p-0 md:pl-60 lg:pl-80 ">
                <h1>{title}</h1>
                <p>{subtitle}</p>
            </div>
            <img class="absolute h-full w-full object-cover top-0 left-0 -z-10" src={image} alt="Header seccion planes">
        </header>
        <Mision />
        <Vision />
        <Values />
    </main>
</Layout>