---
import Layout from '../../layouts/Layout.astro';

import json from '../../data/companies.json';
import ExtendedFeatures from '../../components/companies/ExtendedFeatures.astro';
import Features from '../../components/companies/Features.astro';
const {header: {image, subtitle, title} } = json
---

<Layout title="Connectto - Internet de fibra óptica" desciption='Internet de fibra óptica'>
    <main class="mt-32 relative">
        <header class="relative h-[30rem] flex flex-col justify-center items-start gap-4">
            <div class="text-center lg:text-start p-0 md:pl-60 lg:pl-80 ">
                <h1>{title}</h1>
                <p>{subtitle}</p>
            </div>
            <img class="absolute h-full w-full object-cover top-0 left-0 -z-10" src={image} alt="Header seccion planes">
            <div id="grad"></div>
        </header>
        <Features />
        <ExtendedFeatures />
        <video autoplay muted loop id="myVideo">
            <source src="/images/fondo-empresas.mp4" type="video/mp4">
        </video>
    </main>
</Layout>

<style>
    #grad {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent; 
        background: linear-gradient(89.62deg, #252729d6 14.67%, rgba(37, 39, 41, 0.505) 56.45%, rgba(37, 39, 41, 0) 86.47%);
        z-index: -1;
    }
    video {
        position: absolute;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        right: 0;
        bottom: 0;
        z-index: -100;
        opacity: 0.2;
    }
</style>