---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carrousel from '../components/Carrousel.astro';
import Backgound from '../components/Backgound.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Connectto" desciption='Internet de fibra óptica'>
	<main>
		<Header/>
		<Carrousel/>
		<Hero/>
	</main>
	<Backgound/>
</Layout>