---
import Layout from '../layouts/Layout.astro';
import Carrousel from '../components/home/Carrousel.astro';
import Hero from '../components/home/Hero.astro';
import Plans from '../components/home/Plans.astro';
import GamerPlan from '../components/home/GamerPlan.astro';
import Map from '../components/home/Map.astro';
import Contact from '../components/home/Contact.astro';
---

<Layout title="Connectto" desciption='Internet de fibra óptica'>
	<main>
		<Carrousel/>
		<Hero/>
		<Plans/>
		<Map/>
		<GamerPlan/>
		<Contact/>
	</main>
</Layout>