---
import SwiperIcon from '../Icons/SwiperIcon.astro';


const images = await Astro.glob('/public/images/carousel/*')
---

<script>
import Swiper from 'swiper';
import 'swiper/bundle';
import { Navigation, Autoplay } from 'swiper/modules';
import 'swiper/css';
import 'swiper/css/pagination';

const swiper = new Swiper('.swiper', {
  modules: [Navigation, Autoplay],
  loop: true,
  slidesPerView: 1,
  spaceBetween: 0,
  speed: 900,
  allowTouchMove: true,
  autoplay: {
    delay: 5000,
    disableOnInteraction: false,
  },
  breakpoints: {
    1024: {
      allowTouchMove: false,
    },
  },
  navigation: {
    prevEl: '.swiper-button-prev',
    nextEl: '.swiper-button-next',
  },
});
</script>


<section class="swiper w-full xl:h-auto mt-36">
  <div class="swiper-wrapper" id="my-slider">
    {images.map(image => (
    <div class="swiper-slide h-auto rounded overflow-hidden">
      <img src={image.default.src} alt="" class="w-full h-full object-cover">
    </div>
    ))}
  </div>
  <div class="swiper-button-prev absolute top-[50%] transform rotate-180 z-20 ml-5">
    <SwiperIcon />
  </div>
  <div class="swiper-button-next absolute right-0 top-[50%] z-20 mr-5">
    <SwiperIcon />
  </div>
</section>

<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }
  .swiper-slide {
    aspect-ratio: 16/6;
  }
</style>