<section class="py-5 lg:py-10">
    <h2 class="px-10 pb-5 lg:px-24 lg:py-16">Nuevo: Plan Gamer</h2>
    <div id="gamerPlan">

    </div>
</section>

<style>
    #gamerPlan{
        background: var(--Gris, #252729);
        width: 100%;
        height: 498px;
        top: 2233px;
    }
</style>