<section class="py-5 lg:py-10">
    <h2 class="px-10 pb-5 lg:px-24 lg:pb-10">Cobertura de nuestro servicio</h2>
    <footer class="m-auto max-w-[90%] lg:w-[1300px]">

    </footer>
</section>

<style>
    footer {
        height: 609px;
        background-color: gray;
    }
</style>