---
import PrimaryButton from "../UI/PrimaryButton.astro";

const {megas, features, dowload } = Astro.props;
---

<article id="card" class="rounded-xl m-auto relative w-full min-w-[300px] max-w-[400px] shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300">
    <header id="card-header" class="font-kanit flex flex-col justify-center items-center size-64 rounded-lg absolute -top-5 left-1/2 transform -translate-x-1/2">
        <h3 class="text-[70px] lg:text-[100px] font-normal">{megas}</h3>
        <p class="text-5xl lg:text-6xl">megas</p>
        { dowload && <p class="text-3xl lg:text-4xl text-secondary-600">{megas}/{dowload}</p>}
    </header>
    <footer class="px-5 py-5 pt-64 text-balance flex flex-col justify-between">
        <ul class="list-disc list-outside pl-6" role="list">
            {features.map((item) => (
                <li>{item}</li>
            ))}
        </ul>
        <div class="flex justify-center items-center p-6">
            <PrimaryButton target='_blank' href="mailto:info@conneccto.com" text="Contratá"></PrimaryButton>
        </div>
    </footer>
</article>

<style>
#card {
    background: linear-gradient(#02498E 0%, #011528 100%);
}

#card-header {
    background: #1278F1;
}
#card-header h3 {
    line-height: 70px;
    letter-spacing: -5px;
}

#card-header p {
    line-height: 53px;
    letter-spacing: -1px;
}
li{
    font-size: 18px;
    line-height: 20px;
    padding: 5px 0;
    color: #FFFFFF;
}
</style>