<section class="flex gap-3 justify-center">
    <a target='_blank' href="https://www.facebook.com/connectto.ar/?locale=es_LA" class="size-24 transition-transform hover:scale-125 ease-in-out" target="_blank" rel="noreferrer">
        <img src="/images/socials/icono-fb.png" alt="icono de red social Facebook">
    </a>
    <a target='_blank' href="https://www.instagram.com/connectto.ar/" class="size-24 transition-transform hover:scale-125 ease-in-out" target="_blank" rel="noreferrer">
        <img src="/images/socials/icono-ig.png" alt="icono de red social Instagram">
    </a>
    <a target='_blank' href="https://wa.me/+543624716945" class="size-24 transition-transform hover:scale-125 ease-in-out" target="_blank" rel="noreferrer">
        <img src="/images/socials/icono-wpp.png" alt="icono de WhatsApp">
    </a>
</section>