<div class="background-section min-h-[2000px] xl:h-[4760px]"></div>

<style>
  .background-section {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(180deg, #335472 0%, #335472 0.01%, #1177F0 50%, #011528 100%);
  }
</style>
