---
import Navigation from "./Navigation.astro";
import PrimaryButton from "./UI/PrimaryButton.astro";

---

<header class="fixed top-0 left-0 shadow-lg w-full h-32 bg-tertiary-950 z-50 flex justify-center">
    <div class="flex justify-between items-center w-[85%]">
        <a href="/">
            <img src="/logo.png" alt="Logo Connectto" class="max-h-16">
        </a>
        <Navigation />
        <div class="flex justify-center items-center gap-2 w-[300px]">
            <PrimaryButton text="Acceder" href="/"/>
            <PrimaryButton text="Pago online" href="/"/>
        </div>
    </div>
</header>