---
import InterrogationIcon from "./Icons/InterrogationIcon.astro";
import WhatsAppIcon from "./Icons/WhatsAppIcon.astro";
---

<div class="fixed bottom-10 right-10 z-30 flex flex-col gap-2">
    <InterrogationIcon />
    <WhatsAppIcon />
</div>