---
import NavigationItem from "./UI/NavigationItem.astro";

import json from "../data/header.json"
const {navigation} = json

const url = new URL(Astro.request.url);
const currentPath = url.pathname;
---

<div class="space-x-6 hidden lg:block">
    {
        navigation.map((item) => (
            <NavigationItem class={`font-semibold ${currentPath === item.href ? "text-secondary-600" : "text-white"}`} href={item.href} text={item.text} />
        ))
    }
</div>