---
import NavigationAnchor from "./UI/NavigationAnchor.astro";
---

<div class="flex justify-around max-w-5xl w-full bg-primary-800 py-5 px-9 absolute -bottom-3 left-1/2 transform -translate-x-1/2 z-50">
    <NavigationAnchor href="/" text="Home" />
    <NavigationAnchor href="/" text="Institucion" />
    <NavigationAnchor href="/" text="Planes" />
    <NavigationAnchor href="/" text="Empresa" />
    <NavigationAnchor href="/" text="Cobertura" />
    <NavigationAnchor href="/" text="Ayuda" />
</div>