<div class="flex justify-around max-w-4xl w-full bg-tertiary-950 p-4 absolute -bottom-3 rounded-3xl text-white gap-4">
    <a href="/">Home</a>
    <a href="/">Institucion</a>
    <a href="/">Planes</a>
    <a href="/">Empresa</a>
    <a href="/">Cobertura</a>
    <a href="/">Ayuda</a>
</div>