---
import NavigationItem from "./UI/NavigationItem.astro";
---

<div class="space-x-6">
    <NavigationItem class="font-semibold" href="/" text="Home" />
    <NavigationItem class="font-semibold" href="/" text="Institucion" />
    <NavigationItem class="font-semibold" href="/" text="Planes" />
    <NavigationItem class="font-semibold" href="/" text="Empresa" />
    <NavigationItem class="font-semibold" href="/" text="Cobertura" />
    <NavigationItem class="font-semibold" href="/" text="Ayuda" />
</div>